
<div class="container pt-5">
<form action="/" method="POST">
  <div class="form-group">
    <label for="numero">Número lotería</label>
    <input type="number" class="form-control" id="num-loteria" placeholder="Introduce tu número" name="numero">
  </div>
  <button type="submit" class="btn btn-primary">¡Suerte!</button>
</form>
</div>
